body {
  background-color: rgb(247, 229, 232);
  font-family: "Courier New", Courier, monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todoapp {
  max-width: 1024px;
  margin: auto;
  padding: 2rem;
}
h1 {
  text-align: center;
  font-size: 2rem;
}
.input-container {
  display: flex;
  justify-content: center;
}
#submit-btn {
  border: 0;
  padding: 0 1rem;
  background: #d0c8c9;
}

.new-todo {
  font-size: 1.25rem;
  padding: 1.25rem;
  border: none;
  background: white;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}
@media (min-width: 768px) {
  .new-todo,
  .new_todo_item {
    width: 25em;
  }
}
.new_todo_item {
  margin: 1rem auto;
  font-size: 1.25rem;
  padding: 1.25rem 1.25rem 1.25rem 3rem;
  background: white;
  position: relative;
}
.toggle {
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.destroy {
  height: 2rem;
}
.destroy::after {
  content: "X";
}

.checked label {
  text-decoration: line-through;
}
